# Umgebungsvariablen und sensible Daten
.env
.env.*
!.env_example

# Secrets/Konfig
backend/config/

# Python
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.venv/
venv/
*.egg-info/

# Node/Vue
node_modules/
dist/
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build & Logs
build/
*.log

# IDE
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

coverage/
